---
layout: layouts/base.vto
---
<article>
  <header class="post-header">
    <h1>{{ title }}</h1>
    <time datetime="{{ date |> date('DATETIME') }}">{{
      date
      |> date("yyyy/MM/dd")
    }}</time>
    <div class="tags">
      {{ for tag of tags }}
        <a href="/tags/{{ tag.toLowerCase() }}/" class="tag">#{{ tag }}</a>
      {{ /for }}
    </div>
  </header>

  <div class="post-content">
    {{ content }}
  </div>
</article>
